<!-- <div class="navbar">
  <img src="assets/left-arrow.png" (click)="previousComponent()" alt="Previous" class="nav-arrow">
  <img src="assets/right-arrow.png" (click)="nextComponent()" alt="Next" class="nav-arrow">
</div>
<router-outlet></router-outlet> -->

<div class="outer-container">
  <div class="container">
    <div class="navigation left" (click)="previousComponent()" [class.disabled]="currentIndex === 0"><b>&lt;</b></div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="navigation right" (click)="nextComponent()" [class.disabled]="currentIndex === routes.length - 1"><b>&gt;</b></div>
  </div>
</div>


